/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main */

:root {
	--black: #000;
	--white: #fff;
	--orangePrimary: #fa8231;
	--orangeSecondary: #fd9644;
	--regular: 400;
	--semi-bold: 500;
}

body {
	background-color: var(--white);
	color: var(--black);
}

body {
	font-size: 16px;
	font-weight: var(--regular);
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: var(--black);
	transition: all .2s;
	opacity: 1;
}

a:hover {
	opacity: .8;
}

/* container*/

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

/* btn */

.btn {
	background-color: var(--black);
	color: var(--white);
	padding: 10px 5px;
	border-radius: 5px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: var(--semi-bold);
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	opacity: 1;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.btn:hover {
	opacity: .8;
}

.btn.btn-orangePrimary {
	background-color: var(--orangePrimary);
}

/* content */

.content {
	margin-top: 160px;
}

/* header */

#header {}

#header .navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white);
	border-bottom: solid 1px var(--orangePrimary);
}

#header .navbar .container {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

#header .navbar .nav-brand {
	display: flex;
	transition: all .2s;
	font-size: 20px;
	font-weight: 500;
	align-items: center;
}

#header .navbar .nav-brand span {
	margin-left: 5px;
	color: var(--orangePrimary);
}

#header .navbar .nav-brand:hover {
	opacity: 1;
	transform: scale(1.05);
}

#header .navbar .nav-brand .nav-logo {
	max-height: 60px;
	width: auto;
}

#header .navbar .nav {
	display: flex;
	align-items: center;
}

#header .navbar .nav .nav-item {
	margin: 0 15px;
	text-align: center;
}

@media only screen and (max-width: 750px) {
}